<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.min.css">
    <link rel="stylesheet" href="https://ami-2019.github.io/AmIRunning/now-ui-kit.css" type="text/css">
    <link rel="stylesheet" href="https://ami-2019.github.io/AmIRunning/assets/css/nucleo-icons.css" type="text/css">
    <script src="https://ami-2019.github.io/AmIRunning/assets/js/navbar-ontop.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/navigator.sendbeacon"></script>
    <script src="/static/js/utils.js"></script>
    <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
    <title>{% block title %}{% endblock %} - AmIRunning</title>
    <meta name="description" content="PoliTo Ambient Intelligence Course - 2018/19">
    <meta name="keywords" content="IOT, AmI, Polito">
    {% block more_head %}
    {% endblock %}
  </head>
<body class="">
    
    {% include './common/navbar_ping.html' %}
    
    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ami-2019.github.io/AmIRunning/assets/js/parallax.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <script style="">
        $(document).ready(function() {
        $('[data-toggle="popover"]').popover();
        $('[data-toggle="tooltip"]').tooltip();
        $('#datepicker-example').datepicker({
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });
        });
    </script>
</body>
</html>