<nav class="navbar navbar-expand-lg bg-primary navbar-dark fixed-top" style="">
    <div class="container">
      <a class="navbar-brand w-150 h-150" data-placement="bottom" data-toggle="tooltip" contenteditable="true" href="https://ami-2019.github.io/AmIRunning/"><b>AmIRunning</b></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNowUIKitFree">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbarNowUIKitFree">
        <ul class="navbar-nav">
          <li class="nav-item mx-1 align-items-center d-flex justify-content-center flex-grow-1" id="vision-item">
            <a class="nav-link" href="https://ami-2019.github.io/AmIRunning/#vision_section">
              <i class="now-ui-icons x2 mr-2">&nbsp;Vision</i></a>
          </li>
          <li class="nav-item mx-1 align-items-center d-flex justify-content-center">
            <a class="nav-link" href="https://ami-2019.github.io/AmIRunning/#steps_section">
              <i class="now-ui-icons x2 mr-2">&nbsp;Main Steps</i></a>
          </li>
          <li class="nav-item mx-1 align-items-center d-flex justify-content-center">
            <a class="nav-link" href="https://ami-2019.github.io/AmIRunning/#features_section">
              <i class="now-ui-icons x2 mr-2">&nbsp;Features</i></a>
          </li>
          <li class="nav-item mx-1 align-items-center d-flex justify-content-center">
            <a class="nav-link" href="https://ami-2019.github.io/AmIRunning/#architecture_section">
              <i class="now-ui-icons x2 mr-2">&nbsp;Architecture</i></a>
          </li>
          <li class="nav-item mx-1 align-items-center d-flex justify-content-center">
            <a class="nav-link" href="https://ami-2019.github.io/AmIRunning/#comp_sections">
              <i class="now-ui-icons x2 mr-2">&nbsp;Components</i></a>
          </li>
          <li class="nav-item mx-1 align-items-center d-flex justify-content-center">
            <a class="nav-link" href="https://ami-2019.github.io/AmIRunning/#issues_sections">
              <i class="now-ui-icons x2 mr-2">&nbsp;Open Issues</i></a>
          </li>
          <li class="nav-item mx-1 align-items-center d-flex justify-content-center">
            <a class="nav-link" href="https://ami-2019.github.io/AmIRunning/#team_section">
              <i class="now-ui-icons x2 mr-2">&nbsp;Team</i></a>
          </li>
        </ul><a class="btn btn-light text-primary" href="http://amirunrpi.ddns.net">Log-in</a>
        <ul class="navbar-nav flex-row justify-content-center mt-2 mt-md-0">
          <li class="nav-item mx-3 mx-md-1">
            <a class="nav-link" href="#" data-placement="bottom" data-toggle="tooltip" title="Like us on Facebook">
              <i class="fa fa-fw fa-facebook-official fa-2x"></i>
            </a>
          </li>
          <li class="nav-item ml-1">
            <a class="nav-link" href="#" data-placement="bottom" data-toggle="tooltip" title="Follow us on Instagram">
              <i class="fa fa-fw fa-instagram fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>